<p>********** Your result ************</p>

<p>Your word was: <%= @query %></p>
<p>Your time is: <%= @result[:time] %> s.</p>
<p>Your translation is: <%= @result[:translation] %></p>
<p>Your score is: <%= @result[:score] %></p>
<p>Your message is: <%= @result[:message] %></p>
